.AdminPageLogin {
	display: flex;
	justify-content: center;
	align-items: center;
}
.AdminPageLogin .loginBox {
	background-color: #fafafa;
	color: #000;
	padding: 1em;
	border-radius: 10px;
}
.AdminPageLogin .loginBox h1 {
	padding-bottom: 0.5em;
}
.AdminPage {
	display: flex;
}
.AdminPage .adminBox {
	background-color: #eeeeee;
	color: #000;
	box-sizing: border-box;
	padding: 1em;
	flex: 1;
	border-radius: 10px;
}
