.Nav,
.NavOpen {
	position: absolute;
	right: 2em;
	top: 2em;
	z-index: 999;
}

.mobile .NavOpen {
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
	padding: 2em;
}
.mobile .NavBox {
	width: 100%;
	height: 80%;
}

.NavBox {
	width: 350px;
	height: 60vh;
	padding: 1em;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: #fff;
}
.NavBox button {
	float: right;
	border: none;
	background-color: transparent;
}
.NavBox ul {
	list-style-type: none;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-left: 1.5em;
}
.NavBox a {
	text-decoration: none;
	color: #111115;
	font-size: 2em;
}
.NavBox a:hover {
	color: #005cb9;
}

nav > button {
	border: none;
	background-color: transparent;
}
.navIcon {
	cursor: pointer;
}
.NavBox .navIcon {
	width: 25px;
	height: 25px;
}

/* Nav transition */
.navTrans-enter,
.navTrans-appear {
	opacity: 0;
	transform: translate(20em, -20em) scale(0);
}
.navTrans-enter-active,
.navTrans-appear-active {
	opacity: 1;
	transform: translate(0em, 0em) scale(1);
	transition: opacity 500ms, transform 200ms, scale 500ms;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
