/* Page Animations */
.page-enter,
.page-appear {
	opacity: 0;
	transform: scale(1.1);
}
.page-enter-active,
.page-appear-active {
	opacity: 1;
	transform: scale(1);
	transition: opacity 300ms, transform 300ms;
}
.page-exit {
	opacity: 1;
	transform: scale(1);
}
.page-exit-active {
	opacity: 0;
	transform: scale(0.9);
	transition: opacity 300ms, transform 300ms;
}

.social-links {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 999;
	padding: 2em;
}
.social-links span {
	color: #fff;
	padding-left: 1em;
}

.social-links span:hover {
	color: #005cb9;
	padding-left: 1em;
}
