#App {
	width: 100%;
	min-height: 100vh;
	padding: 2em;

	display: flex;
	flex-direction: column;
}
.mobile #App {
	padding: 1em;
}

header {
	overflow: auto; /* clearfix */
	flex: 0;
}

#brand {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 1.5em;
}
#brand:hover {
	color: #005cb9;
}

.social-links {
	flex: 0;
	align-items: baseline;
}
.social-links span {
	color: #fff;
	padding-right: 1em;
}

.social-links span:hover {
	color: #005cb9;
}

/* Page Animations */
.page-enter,
.page-appear {
	opacity: 0;
	transform: scale(1.1);
}
.page-enter-active,
.page-appear-active {
	opacity: 1;
	transform: scale(1);
	transition: opacity 300ms, transform 300ms;
}
.page-exit {
	opacity: 1;
	transform: scale(1);
}
.page-exit-active {
	opacity: 0;
	transform: scale(0.9);
	transition: opacity 300ms, transform 300ms;
}
